

.github{
    display: flex;
    margin: auto;
    justify-content: center;
}

@media screen and (max-width: 375px) {
    .github{
    margin-left: 50px;
}
}
@media screen and (max-width: 810px) {
    .github{
    margin-left: 50px;
}
}
@media screen and (max-width: 910px) {
    .github{
    margin-left: 50px;
}
}
@media screen and (max-width: 1110px) {
    .github{
    margin-left: 100px;
}
}