.contriner{
    min-height: 10%;
    width: 25%;
    text-align: center;
    justify-content: center;
    align-content: center;
}


.con-title{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.con-desc{
    font-size: 15px;
    width: 110%;
    text-align: center;

}
